body {
  margin: 0;
  padding: 0;
}

/* No topbar */
#webview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex !important;
}

/* Topbar */
/*
#controls {
  padding: 5px;
  border-bottom: solid 1px #ccc;
  background-color: #f8f8f8;
}

#controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}
*/
